body{
    background: #111324;
    color: whitesmoke;
}

.titleSupPictures{
    text-align: center;
    margin-top: 3%;
}

#navbarTop {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

#stats{
    text-align: center;
    margin-top: 3%;
}

#browsePictures{
    text-align: center;
    margin-top: 3%;
}

#registerForm{
    width: 50%;
    margin: auto;
}

#profileForm {
    width: 50%;
    margin: auto;
}

#titleRegister{
    text-align: center;
}

#headerPictureDetails{
    width: 50%;
    margin: 1% auto auto;
}

#titleDetailsPicture{
    text-align: center;
    margin-top: 1%;
}

.pictureInDetails{
    margin: auto;
}