body{
    background: #111324;
    color: whitesmoke;
    width: 100%;
    height: 100%;
}

.titleSupPictures{
    text-align: center;
    margin-top: 3%;
}

#loginOrRegister{
    text-align: center;
    margin-top: 3%;
}

#stats{
    text-align: center;
    margin-top: 3%;
}

#browsePictures{
    text-align: center;
    margin-top: 3%;
}

#registerForm{
    width: 50%;
    margin: auto;
}

#titleRegister{
    text-align: center;
}